# Ceci est le fichier de configuration personnel de Git.
[user]
# Veuillez adapter et décommenter les lignes suivantes :
	name = rabyj
	email = Joanny.Raby@usherbrooke.ca
[gc]
	autoDetach = false
[rerere]
	enabled = true
[core]
	editor = code --wait
[diff]
    tool = default-difftool
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff --ignore-outputs --ignore-metadata --ignore-details
[difftool]
	prompt = false
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE --ignore
[difftool "nbdime"]
	cmd = git-nbdifftool diff --ignore-outputs --ignore-metadata --ignore-details \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
